.home{
    height: 480px;
    background: rgb(32,32,32);
    border-top: 0.6mm ridge rgba(182, 182, 182, 0.6);
    color: wheat;
}
img{
    width: 35% ;
    height: 37%;
    margin-top: 30px;
    float: right;
    margin-right: 160px;
   


}